{% extends 'base.html' %}
{% block title %}
Register
{% endblock title %}
{% block body %}

<div class="container">
    <h1 class="display-3">Registration Page</h1>
    <form action="/register" method="post">
        <div class="mb-3">
            <label for="fname" class="form-label">First Name</label>
            <input type="text" class="form-control" id="fname" name="fname" required>
        </div>
        <div class="mb-3">
            <label for="lname" class="form-label">Last Name</label>
            <input type="text" class="form-control" id="lname" name="lname" required>
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control" id="email" name="email" required>
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" id="password" name="password" required>
        </div>
        <div class="mb-3">
            <button type="submit" class="btn btn-danger mt-3">Sign-in</button>
            <a href="/" class="btn btn-primary mt-3">Login</a>
        </div>
    </form>
</div>


{% endblock body %}